@import url('https://fonts.googleapis.com/css?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
/*-------------- Images*/
.background-image img {
height: 100vh;
}

.about-image img{
    height: 64%;
}

.work-image img{
    height: 500px;
}

.resume-image img{
    height: 500px;
}
.personal-image img{
    padding-bottom: 60px;
}
.name {
font-family : "Exo", sans-serif;
font-weight : 300;
font-size : 46px;
margin-top : 5px;
border-bottom : 1px solid #ffffff;
color : royalblue;
text-decoration : none;
}

.title{
font-family: "Roboto", sans-serif;
font-weight: 300;
font-size: 28px;
margin-top: -10px;
margin-bottom: -10px;
color: royalblue;
}

.active {
border-bottom : 1px solid #ffffff;
}

.bg-color-about-me {
background-color : #dddddd;
}

.section-heading {
font-family : "Exo", sans-serif;
font-weight : 500;
margin-top : 25px;
margin-bottom : 40px;
text-align: center;
}

.left-div {
border : blue solid 1px;
background-color : royalblue;
margin-top : 0;
padding-bottom : 15px;
padding-left: 5px;
}

.right-div {
border : blue solid 1px;
background-color : lightgrey;
margin-top : 0;
padding-bottom : 50px;
}



.work-history ul {
list-style: none;
font-weight : 100;
color : black;
font-size : 20px;
padding-bottom : 40px;
padding-left: 15px;
margin-bottom: 55px;
}

.personal-details ul{
list-style: none;
font-weight : 100;
color: black;
font-size : 20px;
margin-bottom: 100px;
padding-left: 15px;
}



.about-me{
    color: black;
    margin-bottom: 100px;
}



.contact-image {
    height: 64%;
}
.contact-links a {
color : black;
text-decoration : none;
font-size : 25px;
font-weight : 100;
list-style: none;
}

.contact-links ul {
list-style: none;
padding-left: 15px;  
}

.contact-links a:hover {
border-bottom : 1px solid black;
}

.collab-form {
margin-top : 125px;
}

button[type="submit"] {
margin-top : 15px;
margin-bottom : 20px;
color : black;
background-color : #cccccc;
}

.center-form {
padding-left : 10px;
}

#navbarNav ul{
    float: right;
}