@import url('https://fonts.googleapis.com/css?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

/*-------colours*/
.bg-color-header{
    background-color: #333333;
}


/*-------Heading*/
header{
    margin:0;
}

.heading {
    min-height: 120px;
    background-color: #333333; 
    margin-top: 0px;
    padding-top: 5px;
}

.logo {
    float: left;
    font-family: "Exo", sans-serif;
    text-decoration: none;
    color: black;
    margin-left: 5px;
}

.name{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 46px;
    margin-top: 5px; 
    border-bottom: 1px solid #ffffff;
    color: royalblue;
    text-decoration: none;
}

.title{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ffffff
}

.menucontainer li{
    float: right;
    margin-right: 30px;
    list-style-type: none;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 18px;
    display: inline-block
}

.menucontainer a {
    text-decoration: none;
    color: #ffffff
}

.menucontainer{
    line-height: 75px;
}

.menucontainer a:hover {
    border-bottom: 1px solid #ffffff;
}

.active {
    border-bottom: 1px solid #ffffff;
}


/*------------------------------------------------------About me*/

/*--------Colours*/
.bg-color-about-me{
    background-color: #dddddd;
}

/*-----[---heading*/
.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
    float: center; 
}

.left-div {
    border: 1px solid red;
    background-color: royalblue;
    margin-left: -25px;
    margin-top: 0px;
    padding-bottom: 50px;
}

.right-div {
    border: 1px solid blue;
    background-color: lightgrey;
    margin-top: 0px;
    padding-bottom: 50px;
}

.background-image{
    width: 100%;
    padding-right: -150px;
    margin-top: -15px;
}

.work-history ul{
    font-family: "Exo" sans-serif;
    font-weight: 100;
    color: black;
    font-size: 20px;
    padding-bottom: 15px;
}

.personal-details ul li{
    font-family: "Roboto" sans-serif;
    font-weight: 400;
    color:red;  
}

.contact-links a{
    color: black;
    text-decoration: none;
    font-family: "Exo" sans-serif;
    font-size: 25px;
    font-weight: 100;
    list-style: none;
} 
 .contact-links a:hover {
    border-bottom: 1px solid black;
}
.collab-form{
    margin-top: 2px;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: black;
    background-color: #cccccc;
}

.center-form{
    padding-left: 10px;
}

li{
    text-decoration: none;
    color: black;
}